In [1]:
import json
import pickle
import numpy as np
import re
import pandas as pd

In [2]:
try:
    with open('model.pkl', 'rb') as f:
        model = pickle.load(f)
    print("Model loaded successfully.")
except Exception as e:
    print("Error loading the model:", e)
    model = None

Model loaded successfully.

In [3]:
#one hot encoding dictonary 
with open('output.json', 'r') as f:
    data = json.load(f)

In [4]:
with open('age_map.json', 'r') as f1:
    age_map = json.load(f1)

In [32]:
value_for_K2 = data['I0']
values_for_age = age_map['38']

In [33]:
# Extract numbers using regular expression
extracted_numbers = re.findall(r'\d+', str(value_for_K2))

In [34]:
numbers_from_K2 = list(map(int, extracted_numbers))
print(numbers_from_K2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [35]:
column_names = ['Age_Scaled', 'Sex', 'A0', 'A1', 'A4', 'A5', 'A8', 'A9', 'B3', 'B4',
       'B5', 'B9', 'C0', 'C4', 'C5', 'C6', 'C7', 'C8', 'D0', 'D1', 'D2', 'D3',
       'D4', 'D5', 'E0', 'E1', 'E2', 'E5', 'E7', 'E8', 'F1', 'F2', 'G0', 'G2',
       'G3', 'G8', 'H0', 'H6', 'I0', 'I1', 'I8', 'I9', 'J0', 'J3', 'K0', 'K2',
       'K4', 'K5', 'K7', 'K9', 'L0', 'M0', 'M3', 'M4', 'M6', 'M7', 'M8', 'N1',
       'N4', 'N6', 'O0', 'O6', 'P0', 'Q0', 'R0', 'R1', 'R7', 'S0', 'S2', 'S3',
       'T1', 'U0', 'Z0', 'Z3', 'Z4', 'Z9']

In [36]:
X_pred = [values_for_age,1]
X_pred.extend(numbers_from_K2)
print(X_pred)

[-0.2991229171951276, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [37]:
X_pred_df = pd.DataFrame([X_pred], columns=column_names)

In [38]:
X_pred_df.head()

,Age_Scaled,Sex,A0,A1,A4,A5,A8,A9,B3,B4,...,R7,S0,S2,S3,T1,U0,Z0,Z3,Z4,Z9
0,-0.299123,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
prediction = model.predict(X_pred_df)

In [40]:
print(prediction)

['Rejected']